
@font-face {
    font-family: "Montserrat-Regular";
    src: url("./assets/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("./assets/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat-Semibold";
    src: url("./assets/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("./assets/Montserrat-Medium.ttf");
}